<nav class="section">
  <ul class="secton-links">
    <a href="" class="section-links">World</a>
    <a href="" class="section-links">San Francisco</a>
    <a href="" class="section-links">New York</a>
    <a href="" class="section-links">Bootcamp Prep</a>
    <a href="" class="section-links">Jumpstart</a>
    <a href="" class="section-links">Online</a>
    <a href="" class="section-links">Marketing</a>
    <a href="" class="section-links">Sales</a>
    <a href="" class="section-links">TalentMatch</a>
    <a href="" class="section-links">Alumni</a>
    <a href="" class="section-links">All</a>
  </ul>

</nav>
