<h1>Subs Page</h1>

<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<ul>
  <% @subs.each do |sub_topic| %>
    <li><%= link_to sub_topic.title, sub_url(sub_topic) %></li>
  <% end %>
</ul>

<%= button_to "Add New Sub", new_sub_url, method: :get %>
