.curriculum {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 20px;
}

.main_area {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 20px;
}

.opinion {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 20px;
}

span {
  color: gray;
  font-size: 14px;
}
