<h1>Add Album</h1>

<form action=" <%= albums_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>'>
  <label for="name">Album Name</label>
  <input id="name" type="text" name="album[name]" placeholder="album name">

  <br>

  <input type="submit" value="Add Album">
</form>
