<h1>New Commment</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="<%= post_comments_url %>" method="post">
  <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[post_id]" value=" <%= @post.id %>">

  <label for="Content">Content</label>
  <input id="Content" type="text" name="comment[content]">
  <br>
  <input type="submit" value="Create New Comment">
</form>
